# Electron 二进制国内镜像（加速 npm install 与 electron-builder 下载）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/